.text {
  color: var(--pagination-text-color);
}
.selected {
  color: var(--pagination-selected-text-color);
  background-color: var(--pagination-background-color) !important;
}
.ul {
  justify-content: center;
}
.root {
  margin-top: 24px;
}
