@import '../../style/media';
@import '../../style/settings';

.wrapper {
  color: $color-white;
  background-color: $color-black;
  border-radius: 12px;
  text-transform: unset;
  font-size: 18px;
  line-height: 100%;
  padding: 20px;
  &:hover {
    background-color: $color-blue-1;
  }
}
