@import '../../../style/media';
@import '../../../style/settings';

.tableHead {
  text-align: center;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: $color-gray-4;
  padding: 17px;
}

.tableBody {
  text-align: center;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: $color-gray-4;
  padding: 24px 20px;
}
