@import '../../../../style/settings';
@import '../../../../style/media';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btnWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 220px;
  margin-top: 48px;
  @include max-1200 {
    margin-top: 40px;
  }
  @include max-576 {
    max-width: 100%;
    margin-top: 32px;
  }

  button {
    width: 100%;
  }
}
.maxWidth {
  max-width: 320px;
  width: 100%;
  @include max-576 {
    max-width: 100%;
  }
}
.title {
  max-width: 420px;
  text-align: center;
  @include max-1200 {
    max-width: 100%;
  }
}
.subTitle {
  text-align: center;
  margin-top: 32px;
  @include max-991 {
    margin-top: 24px;
  }
}
.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  @include max-576 {
    margin-top: 32px;
  }
}
.errorBlockWrapper {
  margin-bottom: 20px;
}
