@import '../../../../style/media';
@import '/src/page/mainPage/style';
@import '/src/style/index';
@import '/src/page/mainPage/style';

.questionAnswerAccordion {

  .questionAnswerAccordionHeadline, .questionAnswerAccordionText{
    width: 78%;
  }

  &>div{
    padding: 26px 0px;

    &>div{
      padding: 0;
    }
  }
}