@import '../../../../style/media';
@import '/src/page/mainPage/style';
@import '/src/style/index';
@import '/src/page/mainPage/style';

.advantages_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;

  .advantage_block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32.4%;
    height: 30rem;
    padding: 40px 47px 40px 40px;
    border: 1px solid #B7B7B7;
    border-radius: 32px;

    .advantage_block_text{
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: #575757;

      :first-child{
        color: #262626;
      }
    }
  }
}