@import '../../../../style/media';
@import '../../../../style/settings';

.wrapper {
  margin-top: 68px;
}
.tableWrapper {
  margin-top: 24px;
}
.textCenter {
  text-align: center;
}
.tableContainer {
  border: 1px solid $color-gray-4;
  border-radius: 8px;
  box-shadow: none;
}
.resetMarginRight {
  margin-right: 0;
}
.resetPadding {
  padding: 0;
}
