@import '../../style/media';

.wrapper {
  padding: 72px clamp(130px, 11vw, 195px);
  border-radius: 40px;
  @include max-991 {
    padding: 64px clamp(20px, 11vw, 130px);
    border-radius: 32px;
  }
  @include max-576 {
    padding: 64px 20px;
    margin: 0;
  }
}

.closeBtn {
  position: absolute;
  right: 32px;
  top: 24px;
  padding: 0;
  @include max-991 {
    right: 24px;
    top: 24px;
  }
  @include max-576 {
    right: 16px;
    top: 22px;
  }
}
