@import '../../style/media';

.header {
  position: relative;
  display: block;
  //height: 100px; // ? Лучше 70 - 80
  padding-top: 20px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include max-1200 {
    }
  }

  &__logo {
    display: flex;
    align-items: baseline;

    &_wrapper {
      margin-right: 12px;
    }

    h1 {
      font-size: 16px;
    }
  }

  &__nav {
    &__list {
      display: flex;
    }
    &__item {
      padding: 0 28px;
    }
  }
}

.modalWrapper {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 72px 0;
  border-radius: 40px;
  @include max-991 {
    padding: 64px 0;
    border-radius: 32px;
  }
  @include max-576 {
    padding: 64px 20px;
    margin: 0;
  }
}
