@import '../../style/media';
@import '/src/style/index';

.header {
  position: relative;
  display: block;
  //height: 100px; // ? Лучше 70 - 80
  padding-top: 20px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include max-1200 {
    }
  }

  &__logo {
    display: flex;
    align-items: baseline;
    width: 15.5%;

    img{
      width: 100%;
    }
  }

  &__nav {
    &__list {
      display: flex;
    }
    &__item {
      padding: 0 28px;
    }
  }
}

.modalWrapper {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: clamp(60px, 4vw, 72px) 0;
  border-radius: clamp(32px, 3vw, 40px);
  max-width: clamp(570px, 37vw, 710px);
  width: 100%;
  @include max-1200 {
    max-width: 710px;
    border-radius: 40px;
    padding: 72px 0;
  }
  @include max-991 {
    padding: 64px 0;
    border-radius: 32px;
  }
  @include max-576 {
    padding: 64px 20px;
    height: 100%;
    margin: 0;
  }
}
