$color-gray-1: #262626;
$color-gray-2: #575757;
$color-gray-3: #b7b7b7;
$color-gray-4: #d9d9d9;
$color-gray-5: #6b6b6b;
$color-gray-6: #8d8d8d;
$color-gray-7: #a8a8a8;
$color-gray-8: #515152;
$color-gray-9: #393939;

$color-red-2: #f6e9e9;
$color-white: #ffffff;
$color-white-1: #f9fafb;

$color-blue: #69b3e9;
$color-blue-1: #3366cc;
$color-blue-2: #4976c2;
$color-blue-3: #103a75;
$color-blue-4: #0d4ea6;
$color-blue-5: #186ade;
$color-blue-6: #3d8df5;
$color-blue-7: #75b1ff;
$color-blue-8: #679aff;
$color-blue-9: #e6eeff;

$color-yellow: #e9dc69;
$color-purple: #9c7be1;

$color-black: #131313;
$color-red-error: #d91f11;
$color-red-1: #ffe0de;

//$brake-point-1: 400px;
//$brake-point-2: 576px;
//$brake-point-3: 768px;
//$brake-point-4: 991px;
//$brake-point-5: 1200px;
//$brake-point-6: 1440px;

//$color-primary: #5324ff;
//$color-primary2: #14005c;
//$color-primary3: #1d00c3;
//$color-primary4: #220c71;
//$color-primary-hover: #3818af;
//$color-primary-disabled: #c0afff;
//$color-success: #17c964;
//$color-danger: #ff1117;
//$color-light: #f5f8fd;
//$color-gray: #898e93;
//$color-gray-hover: #d8d8d8;
//$color-gray2: #dbdee7;
//$color-gray3: #8d889a;
//$color-gray4: #a5a2ae;
//$color-dark: #0b0026;
//$color-red: #f23433;
//$color-palered: #ff8f77;
//$color-palered1: #da5252;
//$color-palered2: #ff8e8d;
//$color-green: #7cc830;
//$color-green1: #b4c83d;
//$color-orange: #ff9900;
//$color-yellow: #ffe600;
//
//$color-paleblue: #d6dfff;
//$color-lightblue: #a5e9ff;
//$color-lightgreen: #b9eabb;
//$color-brightgreen: #d3ffa7;
//$color-peach: #ffddd6;
//$color-paleyellow: #ecedbb;

//$font-primary: 'IBM Plex Sans', sans-serif;
//$font-secondary: 'Moscow University', sans-serif;

$transition-animate: cubic-bezier(0.215, 0.61, 0.355, 1);
$transition-time: 0.5s;

@mixin fadeOut($duration) {
  opacity: 0;
  visibility: hidden;

  animation: fadeOut 3s $transition-animate infinite;
  animation-delay: 15s;

  @keyframes fadeOut {
    to {
      display: none;
    }
  }
}
