@import 'public/assets/fonts/ProximaNova/stylesheet';
@import 'public/assets/fonts/RSRockStar/stylesheet';
@import 'media';

h1,
.h1 {
  font-family: 'RockStar', sans-serif;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(60px, 4vw, 76px);
  line-height: 110%;

  @include max-1200 {
    font-size: 60px;
  }
  @include max-768 {
    font-size: clamp(39px, 8vw, 60px);
  }
}

h2,
.h2 {
  font-family: 'RockStar', sans-serif;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(50px, 3.125vw, 60px);
  line-height: 104%;

  @include max-1200 {
    font-size: 48px;
  }
  @include max-768 {
    font-size: clamp(26px, 6.25vw, 48px);
  }
}

h3,
.h3 {
  font-family: 'RockStar', sans-serif;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(28px, 2.2vw, 42px);
  line-height: 130%;

  @include max-1200 {
    font-family: 'RockStar', sans-serif;
    font-size: 28px;
  }
  @include max-768 {
    font-size: calc(20px + (28 - 20) * ((100vw - 375px) / (768 - 375)));
  }
  @include max-576 {
    line-height: 140%;
  }
}

h4,
.h4 {
  font-family: 'RockStar', sans-serif;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(28px, 1.7vw, 32px);
  line-height: 110%;
  @include max-1200 {
    font-size: 28px;
  }
  @include max-768 {
    font-size: clamp(20px, 4vw, 28px);
  }
}

.prise {
  font-family: 'Proxima Nova', sans-serif;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 110%;

  @include max-1440 {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 28px;
  }

  @include max-1200 {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 36px;
  }
  @include max-576 {
    font-size: 32px;
  }
}

.subtitle1 {
  font-family: 'RockStar', sans-serif;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(20px, 1.25vw, 24px);
  line-height: 110%;
  @include max-1200 {
    font-size: 28px;
  }
  @include max-768 {
    font-size: calc(20px + (28 - 20) * ((100vw - 375px) / (768 - 375)));
  }
}

.subtitle2 {
  font-family: 'Proxima Nova', sans-serif;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(20px, 1.25vw, 24px);
  line-height: 110%;
  @include max-991 {
    font-size: calc(20px + (24 - 20) * ((100vw - 768px) / (1024 - 768)));
  }
  @include max-768 {
    font-size: 20px;
  }
}

.subtitle3 {
  font-family: 'Proxima Nova', sans-serif;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(16px, 1vw, 20px);
  line-height: 110%;
}

.text {
  font-family: 'Proxima Nova', sans-serif;
  color: var(--color-text);
  font-weight: 400;
  font-size: clamp(18px, 1.1vw, 20px);
  line-height: 130%;
  @include max-1440 {
    font-size: 16px;
  }
  @include max-1200 {
    font-size: 18px;
  }
  @include max-768 {
    font-size: clamp(16px, 2.5vw, 18px);
  }
}

.textGrayColor {
  color: var(--color-text-gray);
}

.text2 {
  font-family: 'Proxima Nova', sans-serif;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  @include max-1680 {
    font-size: 14px;
    line-height: 110%;
  }
  @include max-1200 {
    font-size: 16px;
    line-height: 120%;
  }
  @include max-991 {
    line-height: 110%;
  }
}

.text2GrayColor {
  color: var(--color-text-2-gray);
}

.button-text {
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(13px, 0.95vw, 18px);
  line-height: 100%;
  @include max-1200 {
    font-size: 18px;
  }

  @include max-768 {
    font-size: clamp(16px, 2.5vw, 18px);
  }
}

.button-text2 {
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-decoration-line: underline;
  @include max-768 {
    font-size: clamp(16px, 2.5vw, 18px);
  }
}

.table-link {
  font-family: 'Proxima Nova', sans-serif;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-decoration-line: underline;
  @include max-1440 {
    font-size: 14px;
    line-height: 120%;
  }
  @include max-1200 {
    font-size: 14px;
    line-height: 110%;
  }
  @include max-576 {
    font-size: 16px;
    line-height: 120%;
  }
}

.table-headline {
  font-family: 'Proxima Nova', sans-serif;
  color: var(--color-text);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
  @include max-1440 {
    font-size: 13px;
  }
  @include max-1200 {
    font-size: 14px;
  }
}
