@import '../../public/assets/fonts/ProximaNova/stylesheet';
@import '../../public/assets/fonts/RSRockStar/stylesheet';
h1 {
  font-family: 'RockStar', sans-serif;
  font-size: 76px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}
h2 {
  font-family: 'RockStar', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 104%;
}
h3 {
  font-family: 'RockStar', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 130%;
}
h4 {
  font-family: 'RockStar', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
}
.prise {
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 110%;
}
.subtitle1 {
  font-family: 'RockStar', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
}
.subtitle2 {
  font-family: 'RockStar', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
}
.subtitle3 {
  font-family: 'RockStar', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
}

.text {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
}
.text2 {
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.button-text {
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}
.button-text2 {
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-decoration-line: underline;
}
.table-link {
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-decoration-line: underline;
}
.table-headline {
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 110%;
}
