@import 'settings';

:root[data-theme='light'] {
  --background-color: #{$color-white};
  --text-color: #{$color-gray-1};

  //button-style

  //primary-button
  --primary-button-bacground-color: #{$color-black};
  --primary-button-disabled-bacground-color: #{$color-gray-3};
  --primary-button-hover-bacground-color: #{$color-blue-1};
  --primary-button-color: #{$color-white};

  //secondary-button
  --secondary-button-bacground-color: #{$color-white};
  --secondary-button-hover-bacground-color: #{$color-black};
  --secondary-button-color: #{$color-black};
  --secondary-button-hover-color: #{$color-white};
  --secondary-border-color: #{$color-black};
  --secondary-disabled-border-color: #{$color-gray-3};
  --secondary-disabled-color: #{$color-gray-3};
}

:root[data-theme='dark'] {
  --background-color: #{$color-black};
  --text-color: #{$color-white};

  //button-style

  //primary-button
  --primary-button-bacground-color: #{$color-blue-1};
  --primary-button-disabled-bacground-color: #{$color-gray-1};
  --primary-button-hover-bacground-color: #{$color-blue-2};
  --primary-button-color: #{$color-white};

  //secondary-button
  --secondary-button-bacground-color: #{$color-black};
  --secondary-button-hover-bacground-color: #{$color-gray-1};
  --secondary-button-color: #{$color-white};
  --secondary-button-hover-color: #{$color-white};
  --secondary-border-color: #{$color-white};
  --secondary-border-hover-color: #{$color-gray-1};
  --secondary-disabled-border-color: #{$color-gray-3};
  --secondary-disabled-color: #{$color-gray-3};
}
//
//:root[data-theme='light'] {
//  --background-color: #fff;
//  --text-color: #262626;
//}
//
//:root[data-theme='dark'] {
//  --background-color: #131313;
//  --text-color: #fff;
//}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  transition: color $transition-time $transition-animate, background-color $transition-time $transition-animate;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: var(--background-color);
  color: var(--text-color);
  transition: color $transition-time $transition-animate, background-color $transition-time $transition-animate;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

//@media (prefers-color-scheme: light) {
//  :root {
//    color: #213547;
//    background-color: #ffffff;
//  }
//  a:hover {
//    color: #747bff;
//  }
//  button {
//    background-color: #f9f9f9;
//  }
//}

#root {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: calc(100% - 40px);
}

ol,
ul {
  list-style: none;
}

h4 {
  //styleName: Desktop/H4 Headline;
  font-family: Gilroy, sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0;
  text-align: left;
  text-transform: none;
}

.button-padding {
  padding-left: 46px;
  padding-right: 46px;
}
