.mainPageContainer {
  font-family: 'RockStar';
  margin: 0 auto;
  max-width: 1440px;
  width: 86%;
  @include max-1200 {
    width: 87.5%;
  }
  @include max-768 {
    width: 90%;
  }

  &Padding {
    padding: 0 80px;
    @include max-1200 {
      padding: 0 65px;
    }
    @include max-991 {
      padding: 0 40px;
    }
    @include max-768 {
      padding: 0 clamp(16px, 5.2vw, 40px);
    }
    @include max-576 {
      padding: 0 16px;
    }
  }
}

.spacing_between_blocks {
  margin-bottom: 12.5%;

  @include max-1440 {
    margin-bottom: 10.23%;
  }
  @include max-1200 {
    margin-bottom: 13%;
  }
  @include max-991 {
    margin-bottom: 17.5%;
  }
  @include max-576 {
    margin-bottom: 25.5%;
  }
}
